.my-container
{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}


.login-menu
{

    text-align: center;
    padding: 10px 0;
    background-color: #4f6cc3;
    border-top: 1px solid #1b41d4;
    border-bottom: 1px solid #1b41d4;
}

body
{
    margin: 0;
    background-color: #2F3336;
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

header
{
}
main
{
    min-height: 600px;
}

footer
{
    max-height: 100px;
}

.menu
{
    width: 100%;
    padding: 10px 0;
    background-color: #4f6cc3;
    text-align: center;
    border-top: 1px solid #1b41d4;
    border-bottom: 1px solid #1b41d4;
}

ul
{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: inline-block;
}

ul a
{
    color: #ffffff;
    text-decoration: none;
    display: block;
}

ul > li
{
    float: left;
    width: 150px;
    height: 40px;
    border-right: 1px double #1b41d4;
}

ul > li:first-child
{
    border-left: 1px double #1b41d4;
}

ul > li:hover
{
    background-color: #4f6cc3;
}

ul > li:hover > a
{
    color: #1b41d4;
}

ul > li > ol
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;
}

ul > li:hover > ol
{
    display: block;
}

ul > li > ol > li
{
    background-color:#4f6cc3;
    position: relative;
    z-index: 100;
    border-top: 1px dashed #1b41d4;
}

ul > li > ol > li:hover
{
    background-color: #4f6cc3;
}

ul > li > ol > li:hover > a
{
    color: #041030;
}

.blog-footer {
    padding: 2.5rem 0;
    color: #111;
    text-align: center;
    background-color: #888888;
    border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}

.img-thumbnail {
    max-width: 20rem;
    max-height: 8rem;
    position: center;
}
.home-headline{
    font-family: 'Times New Roman', Times, serif;
    font-size:24px;
    color: #fff;
    margin: auto;
    text-align: center;
    margin-top: -13px;
}

.home-headline span{
    background-color: #231F20;
    padding: 5px 22px;
}

.section-headline {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #fff;
    margin: auto;
    text-align: left;
    margin-top: 90px;
}

.section-headline span {
    background-color: #231F20;
    padding: 5px 22px;
}
 .nav-tabs a {
    padding: 10px 15px;
}
.container {
width: 70%;
min-width: 300px;
margin-left: 15px;
}
/*do sekcji z przepisami*/
.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron h1 {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}
#dishInfoImg {
    width: 600px;
    height: 300px;
}