<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header"/>

<body>
<div th:replace="common/header :: navbar"/>

<main id="main">
<form action="#" th:action="@{/dish/add}" th:object="${dish}" method="post" enctype="multipart/form-data">

    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name"/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

    <label for="description">Description</label>
    <input type="text" th:field="*{description}" id="description" placeholder="Description"/>
    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>

    <label for="ingredients">Ingredients</label>
    <input type="text" th:field="*{ingredients}" id="ingredients" placeholder="Ingredients"/>
    <span th:if="${#fields.hasErrors('ingredients')}" th:errors="*{ingredients}"></span>

    <label for="description">Receipe</label>
    <input type="text" th:field="*{receipe}" id="receipe" placeholder="Receipe"/>
    <span th:if="${#fields.hasErrors('receipe')}" th:errors="*{receipe}"></span>

    <label for="dishImage">Upload dish image</label>
    <input id="dishImage" type="file" name="dishImage" th:value="${dish.dishImage}"/>

    <button type="submit" class="btn btn-success">Add Dish</button>
    <a class="btn btn-danger" th:href="@{/}">Cancel</a>
</form>


</main>
<footer th:replace="common/header :: footer"/>
<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>
