<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header"/>

<body>
<div th:replace="common/header :: navbar"/>



<div class="container">
    <div class="row">
        <form class="was-validated" th:action="@{/dish/add}" method="post"
              enctype="multipart/form-data">
            <fieldset>
                <legend class="center-block">
                    New Dish Information<span style="font-size: small"> * is a
							required field</span>
                </legend>

                <div class="col-md-6 mb-3">
                    <label for="name">Enter Name</label>
                    <input type="text" class="form-control" id="name"
                           th:value="${dish.name}" required="required">
                    <div class="invalid-feedback">
                        Valid name is required.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="receipeTextarea">Receipe</label>
                    <input type="text" class="form-control" id="receipeTextarea"
                           th:value="${dish.receipe}" required="required">
                    <div class="invalid-feedback">
                        Please enter your receipe here.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="descriptionTextarea">Description</label>
                    <input type="text" class="form-control" id="descriptionTextarea"
                           th:value="${dish.description}" required="required">
                    <div class="invalid-feedback">
                        Please enter a short description of your receipe.
                    </div>
                </div>

                <!-- upload image -->
                <div class="form-group">
                    <div class="mb-3">
                        <label for="dishImage">Upload dish image</label>
                    </div>
                    <div class="col-md-8">
                        <input id="dishImage" type="file" name="dishImage"
                               th:value="${dish.dishImage}"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-success">Add Dish</button>
                        <a class="btn btn-danger" th:href="@{/}">Cancel</a>
                    </div>
                </div>
git
        </form>
    </div>
</div>


<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>
