<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header"/>

<body>
<div th:replace="common/header :: navbar"/>

<main id="main">

<H1>ADD DISH</H1>
<!--    <div class="login-menuu">
        <div class="back-picture"></div>
        <div class="my-container">
            <h2>New Dish</h2>
            <div class="logalert" th:if="${param.error != null}">Incorrect username or password.</div>
            <form th:action="@{/dish/add}" th:object="${dish}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" th:field="*{name}" id="name" placeholder="Name"/>
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    <p>Enter name of dish.</p>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" th:field="*{description}" id="description" placeholder="Description"/>
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                    <p>Short describe of your dish</p>
                </div>

                <div class="form-group">
                    <label for="ingredients">Ingredients</label>
                    <input type="text" th:field="*{ingredients}" id="ingredients" placeholder="Ingredients"/>
                    <span th:if="${#fields.hasErrors('ingredients')}" th:errors="*{ingredients}"></span>
                    <p>What we need to start making food</p>
                </div>

                <div class="form-group">
                    <label for="receipe">Receipe</label>
                    <input type="text" th:field="*{receipe}" id="receipe" placeholder="Receipe"/>
                    <span th:if="${#fields.hasErrors('receipe')}" th:errors="*{receipe}"></span>
                    <p>Share recepe</p>
                </div>

                <div class="form-group">
                    <label for="dishImage">Upload dish image</label>
                    <input id="dishImage" type="file" name="dishImage" th:value="${dish.dishImage}"/>
                    <p>Share dish picture</p>
                </div>

                <button type="submit" class="button">Log in</button>
            </form>
        </div>
    </div>



    <div class="my-container">
            <h2>New Ingredient</h2>
            <div class="logalert" th:if="${param.error != null}">Incorrect input.</div>
            <form th:action="@{/dish/add}" th:object="${ingredient}" method="post">
                <div class="form-group">
                    <label for="ingredientName">Ingredient name</label>
                    <input type="text" th:field="*{name}" id="ingredientName" placeholder="Name"/>
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    <p>Enter name of dish.</p>
                </div>

                <div class="form-group">
                    <label for="calories">Description</label>
                    <input type="text" th:field="*{calories}" id="calories" placeholder="Calories"/>
                    <span th:if="${#fields.hasErrors('calories')}" th:errors="*{calories}"></span>
                    <p>How many calories in 100g</p>
                </div>

                <div class="form-group">
                    <label for="carbohydrates">Carbohydrates</label>
                    <input type="text" th:field="*{carbohydrates}" id="carbohydrates" placeholder="Carbohydrates"/>
                    <span th:if="${#fields.hasErrors('carbohydrates')}" th:errors="*{carbohydrates}"></span>
                    <p>How many carbohydrates in 100g</p>
                </div>

                <div class="form-group">
                    <label for="proteins">Proteins</label>
                    <input type="text" th:field="*{proteins}" id="proteins" placeholder="Proteins"/>
                    <span th:if="${#fields.hasErrors('proteins')}" th:errors="*{proteins}"></span>
                    <p>How many proteins in 100g</p>
                </div>

                <div class="form-group">
                    <label for="fats">Fats</label>
                    <input type="text" th:field="*{fats}" id="fats" placeholder="Fats"/>
                    <span th:if="${#fields.hasErrors('fats')}" th:errors="*{fats}"></span>
                    <p>How many fats in 100g</p>
                </div>


                <button type="submit" class="button">Log in</button>
            </form>
        </div>-->



</main>
<footer th:replace="common/header :: footer"/>
<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>
