<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />

<body>
    <header th:replace = "common/header :: navbar" />
    <main>
        <table>
            <tr>
                <th>ID</th>
                <th>Description</th>
            </tr>
            <tr th:each= "recipe : ${recipes}">
                <td th:text="${recipe.id}">123</td>
                <td th:text="${recipe.description}">Tasty Goodnees</td>
            </tr>
        </table>
    </main>
    <footer th:replace="common/header :: footer"/>

    <div th:replace = "common/header :: body-bottom-scripts" />
</body>
</html>
