<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:security="http://www.springframework.org/security/tags" xmlns:sec="">
<head th:replace="common/header :: common-header" />

<body>
    <header th:replace = "common/header :: navbar" />
    <main>
        <h1>MY INDEX PAGE</h1>

        <a class="menu-items" th:href="@{/adminPortal}">admin portal</a>
        <a class="menu-items" th:href="@{/userPortal}">user portal</a>

    </main>
    <footer th:replace="common/header :: footer"/>

    <div th:replace = "common/header :: body-bottom-scripts" />
</body>
</html>
