<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"><head th:replace="common/header :: common-header" />

<body>
    <header th:replace = "common/header :: navbar" />
    <main>
        <h1>MY INDEX PAGE</h1>

        <a class="menu-items" th:href="@{/adminPortal}">admin portal</a>
        <a class="menu-items" th:href="@{/userPortal}">user portal</a>

        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/adminPortal}">Delete</a>
        </div>

        <div sec:authorize="isAuthenticated()">
            Welcome <b><span sec:authentication="name">Username</span></b>
            <i><span sec:authentication="principal.authorities">Roles</span></i>
        </div>

    </main>
    <footer th:replace="common/header :: footer"/>

    <div th:replace = "common/header :: body-bottom-scripts" />



</body>
</html>
