<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header"/>

<body>
<div th:replace="common/header :: navbar"/>

<main role="main">


    <input hidden="hidden" name="id" th:value="${dish.id}"/>

<!--    <img th:src="@{/image/dish/}+${dish.id}+'.png'" class="main_image" id="dishInfoImg"/>-->

    <h1> <span th:text="${recipe.description}"></span></h1>
    <br /><br />
    <h2>Preparation time</h2>
    <h3><span th:text="${recipe.cookTime}"></span></h3>
    <br /><br />
    <h3>Difficulty</h3>
    <p class="card-text"><span th:text="${recipe.difficulty}"></span></p>



</main>


<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>
