<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header"/>

<body>
<div th:replace="common/header :: navbar"/>

<main role="main">

<h1>RECIPE LIST</h1>
    <!--<div class="album py-5">
        <div class="row">

            <div data-th-each="recipe : ${recipeSet}">

                <div class="card-header" style="width: 20rem; height: 10rem">

                    <input hidden="hidden" name="id" th:value="${recipe.id}"/>

&lt;!&ndash;                    <img th:src="@{/image/dish/}+${dish.id}+'.png'" class="img-thumbnail"/>&ndash;&gt;
                </div>

                <div class="card-body" style="width: 20rem; height: 10rem">
                <p class="card-text"><span th:text="${recipe.description}"></span></p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">

                        <td><a id="buttonList" class="btn-primary" th:href="@{'/recipe/' + ${recipe.id} + '/info'}">Read more</a></td>

                    </div>
                </div>
                </div>
            </div>

        </div>
    </div>-->

</main>

<footer th:replace="common/header :: footer"/>

<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>
